{% extends 'invite/layout.html' %}

{% block body%}
{{super()}}
<div class="container">

      <ul class="collapsible popout">
        <li>
          <div class="collapsible-header">
              <img src="https://jdiandian-1257713877.cos.ap-hongkong.myqcloud.com/1/avatar.jpg" alt="avatar" class="circle"
        style="height:42px;width:42px;">
            <span class="margin-left:10px;">快点来战，晚上等你！</span>
            <div class="right">
              <a class="right">
                <i class="material-icons " style="color:red;">add_circle</i>
              </a>
              <a class="right">
                <i class="material-icons " style="color:green;">comment</i>
              </a>
            </div>
          </div>
          <div class="collapsible-body">
            <div class="row">
              <div class="col s12 m4">
                <img src="https://jdiandian-1257713877.cos.ap-hongkong.myqcloud.com/invite/classify/1.png" style="width:100%;">
              </div>
              <div class="col s12 m8">
                <ul class="invite">
                  <li>截至日期：2018-9-10 20：08</li>
                  <li>地点：刀剑神域1578</li>
                  <li>内容：自备粮食，生死有命，富贵在天！</li>
                </ul>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="collapsible-header"><i class="material-icons">place</i>Second</div>
          <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>
        <li>
          <div class="collapsible-header"><i class="material-icons">whatshot</i>Third</div>
          <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>
      </ul>

    <!-- <div class="col s12 m2">
          <img src="https://jdiandian-1257713877.cos.ap-hongkong.myqcloud.com/invite/classify/1.png" style="width:100%;">
    </div>
    <div class="col s9 m4">
        <ul class="invite">
            <li class="avatar">
              <img src="https://jdiandian-1257713877.cos.ap-hongkong.myqcloud.com/1/avatar.jpg" alt="avatar" class="circle" style="height:42px;width:42px;">
              快点来战，晚上等你！
            </li>
            <li>截至日期：2018-9-10 20：08</li>
            <li>地点：刀剑神域1578</li>
            <li>内容：自备粮食，生死有命，富贵在天！</li>
        </ul>
    </div>
    <div class="col s3 m2 red">
      <p class="white-text">加入</p>
    </div>
    <div class="col s12 m4">
        <p>I am a very simple card. I am good at containing small bits of information.</p>
    </div> -->

</div>
{% endblock %}